<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title>Document</title>
</head>

<body>

    {% comment %} <h1>Video Live Stream</h1>
    <img src="{% url 'video_feed' %}"> {% endcomment %}



    <div class="container register">
        <div class="row">
            <div class="col-md-4 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>Mark your attendance!</p>
                <div class="row">
                    <div class="col-md-6">
                <input type="submit" name="" value="Checkin" />
                    
                    </div>
                    <div class="col-md-6">
                <input type="submit" name="" value="Checkout" />
                    
                    </div>
                </div>
            </div>
            <div class="col-md-8 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- <h3 class="register-heading">Apply as a Employee</h3> -->
                        <div id="streamDiv">
                            <img id="streamImage" class="img-fluid" src="{% url 'video_feed' %}">
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
</body>

</html>